 
    <header id="header" class="fixed-top">
        
        <div class="container d-flex align-items-center">
           
        <!--     <img id="logomain" src="image/LOGO.jpg" width="15" height="15"> -->
         <%= image_tag("1654236248929.png", {:style => "   padding: 0px;
       
    margin-top: -52px;
    margin-left: -66px;

    width: 150px;
    height: 150px;"}) %>
            <h1 class="logo mr-auto"><a class="header-links" href="index.html">INDISOR PRIVATE LIMITED </a>
               
                <p id="subtitle">INFORMATION TECHNOLOGY SERVICES &amp;
                     </p>

            </h1>
            <div class="topnav" id="myTopnav">
  <a href="#home" >Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>




    </header>




